<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h2>Home </h2>
This page available for ALL.


<div sec:authorize="!isAuthenticated()">
    Login to see content.
    <input type="button" value="Login" onclick="window.location.href = 'auth/login'">
</div>
<div sec:authorize="isAuthenticated()">
    <br><br>
    This content is only shown to authenticated users.
    <input type="button" value="Logout" onclick="window.location.href = 'auth/logout'">
</div>


<!--<div sec:authorize="hasRole('MODERATOR')">-->
    <br><br>
    This content is only shown to MODERATORs.
    <input type="button" value="MODERATOR's menu" onclick="window.location.href = 'moderator_page'">
<!--</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">-->
    <br><br>
    This content is only shown to Admins.
    <input type="button" value="Admin menu" onclick="window.location.href = 'admin_page'">
<!--</div>-->
</body>
</html>